body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fbeaeb;
}

.container {
  width: 400px;
}

#progress .times,
.card-footer,
.volume-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#music-img {
  width: 100%;
  height: 188px;
  object-fit: cover;
}
.volume-container i {
  margin-right: 10px;
}

li {
  cursor: pointer;
}

li.playing {
  background-color: #0b5eb7;
  color: #fff;
}
